<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
   
    <link href="/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
        /* Custom CSS for adjusting the table border */
        .custom-table {
            border-color: green; /* Set your desired border color */
            border-width: 3px; 
            border-collapse: separate; /* Separate borders between cells */
            border-spacing: 0;
        }
    </style>
</head>
<body>
    <div class="logo">
        <img src="/images/logo.jpg" alt="logo">
    </div>

    <form action="/app/login" method="GET">
        <button type="submit" class="btn btn-success logout">Log out</button>
    </form>
    
    <div class="container userProfile">
        <h2 class="font-weight-bold">
            Welcome
        </h2>
        <div class="row">
            <div class="col-md-6">
                <form action="/app/openplace" method="GET">
                    <button type="submit" class="btn btn-success op_place" id="op_place">Go to open market place</button>
                </form>
            </div>
            <div class="col-md-6">
                <div class="box" style="width: 200px; height:100px; border:10px;">
                    <p>Trending</p>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <table class="table table-bordered custom-table" style="max-width: 250px; background-color: lightgreen; margin-left: 35px;">
                <thead>
                    <tr>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="/app/category/male">Male</a></td>
                    </tr>
                    <tr>
                        <td><a href="/app/category/female">Female</a></td>
                    </tr>
                    <tr>
                        <td><a href="/app/category/kids">Kids</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <button type="submit" class="btn btn-success rounded-5">Buy a product</button>
        <button type="submit" class="btn btn-success rounded-5">Sell a product</button>
    </div>
</body>
</html>