<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
   

    <link href="/style.css"  rel="stylesheet" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="logo">
        <img src="/images/logo.jpg" alt="logo">
    </div>

    <form action="/app/login" method="GET">
        <button type="submit"  class="btn btn-success logout">Log out</button>
        </form>
        <form action="/app/seller" method="GET">
            <button type="submit"  class="btn btn-success logout">switch to seller</button>
            </form>
    
  <div class="container userProfile">
            <h2 class="font-weight-bold">
                Welcome
         </h2>
 
         <div class="row">
            <div class="col-md-4">
                <form action="/app/openplace" method="GET">
                    <button type="submit" class="btn btn-success op_place" id="op_place">Go to open market place</button>
                </form>
            </div>
            <div class="col-md-6">
                <div class="box" style="margin-left:10px">
                    Trending Now!!.
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <form action="/app/search_result_shop" method="GET" class="form-inline">
                    <input type="text" name="search" class="form-control" placeholder="Search" style="height:50px;width:100%; max-width:800px;">
                    <button type="submit" class="btn btn-primary ml-2">Search</button>
                </form>
            </div>
        </div>
 

 <div class="shop-user">

    <p>
        <a href="/app/shopUser" >
        <img src="/images/shop1.jpg" alt="shop1" style="margin-top: 100px;margin-left: 50px;">
        </a>
        <a href="/app/product" >
        <img src="/images/dress2.jpg" alt="shop1" style="margin-top: 100px;margin-left: 100px; border: 2px solid grey; border-radius: 5px;width:150px; height:300px;">
        </a>
        <a href="/app/product" >
        <img src="/images/dress3.jpg" alt="shop1" style="margin-top: 100px;margin-left: 50px; border: 2px solid grey; border-radius: 5px;width:150px; height:300px;">
        </a>
        <a href="/app/product" >
        <img src="/images/dress1.png" alt="shop1" style="margin-top: 100px;margin-left: 100px; border: 2px solid grey; border-radius: 5px;width:150px; height:300px;">
        </a>
    </p> 
    <p>
  <a href="/app/shopUser" >    
    <img src="/images/shop2.jpg" alt="shop1" style="margin-top: 100px;margin-left: 50px; "> 
    </a>
    <a href="/app/product">
    <img src="/images/dress4.jpg" alt="shop1" style="margin-top: 100px;margin-left: 100px; border: 2px solid grey; border-radius: 5px;width:150px; height:300px;">
    </a>
    <a href="/app/product">
    <img src="/images/dress3.jpg" alt="shop1" style="margin-top: 100px;margin-left: 50px; border: 2px solid grey; border-radius: 5px;width:150px; height:300px;">
    </a>
    <a href="/app/product">
    <img src="/images/dress1.png" alt="shop1" style="margin-top: 100px;margin-left: 100px; border: 2px solid grey; border-radius: 5px;width:150px; height:300px;">
    </a>
    </p>
    <p>  
    <a href="/app/shopUser" >   
    <img src="/images/shop2.jpg" alt="shop1" style="margin-top: 100px;margin-left: 50px;">
    </a>
    <a href="/app/product">
    <img src="/images/dress3.jpg" alt="shop1" style="margin-top: 100px;margin-left: 100px; border: 2px solid grey; border-radius: 5px;width:150px; height:300px;">
    </a>
    <a href="/app/product">
    <img src="/images/dress4.jpg" alt="shop1" style="margin-top: 100px;margin-left: 50px; border: 2px solid grey; border-radius: 5px;width:150px; height:300px;">
    </a>
    <a href="/app/product">
    <img src="/images/dress2.jpg" alt="shop1" style="margin-top: 100px;margin-left: 100px; border: 2px solid grey; border-radius: 5px;width:150px; height:300px;">
    </a>
    </p>
    </div>


</body>
</html>