

.center-div{
    padding-top: 10%;
}

.errorM{
    padding-top: 5%;
    font-size: xx-large;
    font-weight: 400;
    color: brown;
}

.success{
    padding-top: 5%;
    font-size: xx-large;
    font-weight: 400;
    color: green;
}

.btn.btn-success{
    margin-top: 5%;
    padding: .4em 2em;
}

.logout{
    margin-left: 90%;
}

form{
    padding: 0 3em;
}

.form-control{
    margin: 5%;
}

.userinfo{
    text-align: left;
}

.role{
    flex-direction: row;
    justify-content: center;
    
}

.rd{
    padding: 5%;
    margin: 8%;
}
